body {
  --bs-body-bg: #4cd494;
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.nbar {
    border: 6px solid white;
    margin-top: 0;
    padding: 15px 15px;
}

.title {
    float: left;
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-size: 1.75rem;
    position: relative;
}

.title::hover {
    text-decoration: none;
}

.nav-items {
    color: white;
    font-family: "Montserrat";
}

.colored-section {
    display: flex;
    justify-content: space-between;
}

.items {
    position: relative;
    left: 45%;
    margin-top: 1.5%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 90px;
  padding-top: 22px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  display: inline-block;
  margin-left: 30px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
