<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}BetterGarden{% endblock %}</title>

        <link rel="stylesheet" href="{%static 'display/index.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" crossorigin="anonymous"/>
        {% block css %}{% endblock %}

    </head>
    <body>
        <div class="nbar">
            <section class="colored-section">
                <a class="title" href="#">Better Gardens</a>
                <nav class="nav-items">
                    <a href="#">Identify</a>
                    <a href="#">Your Garden</a>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </nav>
            </section>
        </div>
        {% block content %}{% endblock content %}
        <!--FOOTER START-->
    <div class="footer">
        <center class="footer-text">Better Gardening© 2022</center>
    </div>
    <!--FOOTER END-->
        {% block js %}{% endblock %}
    </body>
</html>