<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}BetterGarden{% endblock %}</title>

        <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" crossorigin="anonymous"/>
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        <div class="nbar">
            <section class="colored-section">
                <a class="title" href="#">Better Gardens</a>
                <nav class="nav-items">
                    <a href="#">Identify</a>
                    <a href="#">Your Garden</a>
                </nav>
            </section>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>