{% extends "display/base.html" %}
{% load static %}

{% block head_title %}Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{%static 'manageGarden/manage.css' %}">
{% endblock css %}


{% block content %}
    <main>
        <a href="{% url 'createPlant' %}">Create Plant</a>
        <br>
        {% for p in plants %}
            <li class="list-group-item">
                {{ p.name }} <br>
                {{ p.water_consumption }}<br>
                {{ p.output }}
            </li>
        {% endfor %}
        <div style="" class="alert alert-light" role="alert">
            Total Water Consumption {{w}}
        </div>
    </main>
{% endblock %}

{% block js %}{% endblock js %}
